# Entorno base
NODE_ENV=development

# Prisma & Base de Datos (MySQL)
# Para Hostinger (producción), asegúrate de usar connection_limit para no agotar el pool
DATABASE_URL="mysql://usuario:password@localhost:3306/cafe_db?connection_limit=5&pool_timeout=10"

# WhatsApp Corporativo para Pedidos Directos
NEXT_PUBLIC_WHATSAPP_NUMBER="573008717377"

# NextAuth (Auth.js)
NEXTAUTH_URL="http://localhost:3000"
# Genera uno con: npx auth secret
AUTH_SECRET="your-super-secret-string-here"

# Autenticación OAuth (Google)
AUTH_GOOGLE_ID="tu-google-client-id"
AUTH_GOOGLE_SECRET="tu-google-client-secret"

# Email (Resend) - Usado para Magic Links y recibos
RESEND_API_KEY="re_123456789"

# Pasarela de Pagos (Stripe)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# Configuración Pública (App URL)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
