@import './tokens.css';

::selection {
  background-color: var(--gold-100);
  color: var(--neutral-900);
}

body {
  text-rendering: optimizeLegibility;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 64px;
  }
}
